SQLAlchemy==2.0.29
psycopg2-binary==2.9.9
python-dotenv==1.0.1
GeoAlchemy2==0.17.1
opencv-python-headless==4.13.0.92
tifffile==2024.8.30
shapely==2.0.7
imagecodecs==2024.12.30
watchdog==6.0.0
Flask==3.0.3
redis==5.0.4
Flask-Caching==2.3.0