**/frontend/**/node_modules
**/frontend/**/build
**/frontend/**/yarn.lock

**/.idea

**/*.sqlite3
**/*.env*
**/venv/

**/__pycache__/
*.py[cod]

**/.pytest_cache

**/locale
**/media/*
**/input_files

**/static/admin
**/static/debug_toolbar
**/static/filebrowser
**/static/grappelli

**/celerybeat-schedule*

**/DjangoAdminPanel
**/CompositeDataRESTAPIService/trash.txt
**/CompositeDataRESTAPIService/files/
**/CompositeDataRESTAPIService/api/appsw.py
**/CompositeDataRESTAPIService/api/testflask.py
**/DataProsessingService/loader/copy_from_outdata.py
**/conf.d/default-nonenc.conf
**/AccountingService/AccountProject/files
**/AlgManagerService
**/docker-compose.certbot.old.yml