version: "3"

services:
  server-auth:
    image: simplen1/sips-server-auth
    restart: always
    depends_on:
      - postgres-auth
    env_file:
      - backend/AuthenticationService/.docker.auth.postgres.env
      - backend/AuthenticationService/.docker.auth.env
      - backend/AuthenticationService/.docker.broker.env
    ports:
      - "0.0.0.0:5000:8000"
    command: bash -c '/usr/src/app/start.sh'

  celery-worker:
    image: simplen1/sips-celery-worker
    restart: unless-stopped
    command: bash -c '/usr/src/app/venv/bin/celery -A CeleryApp.app worker --loglevel=debug -c 4 -n celery-worker'
    depends_on:
      - redis
    env_file:
      - backend/AuthenticationService/.docker.auth.postgres.env
      - backend/AuthenticationService/.docker.auth.env
      - backend/AuthenticationService/.docker.broker.env

  redis:
    image: redis:8.0.3
    restart: always
    command: redis-server
    expose:
      - "6379"

  postgres-auth:
    image: postgres:17.6
    restart: unless-stopped
    expose:
      - "5432"
    env_file:
      - backend/AuthenticationService/.docker.auth.postgres.env
    volumes:
      - auth-db-volume:/var/lib/postgresql/data/

volumes:
  auth-db-volume:
